<html>
  <head>
    <title>Necropolis</title>
    <link rel="stylesheet" href="public/css/index.css">
  </head>

  <body>
    <h1>Necropolis</h1>
    <img id="main-logo" src="public/necropolis-logo.png"/>
    <h2>Necropolis is a package manager for COBOL</h2>
    <p>
      COBOL is mostly dead. However, there was a time when it was alive and well, and due to this there is a plethora of libraries available for it. Necropolis (a city of the dead) is a package manager to help with the installation and management of COBOL libraries. 
    </p>
    <br>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="filefield"><br>
      <input type="submit">
     </form>
     <br>
    <p>
      The Necropolis client is written in Go and the backend is written in Node.js
    </p>
    <br>
    <a href="https://github.com/avuxo/necropolis">Link to Necropolis on Github</a>
  </body>
</html>
